body {
    background: #1e1e1e;
    color: #cedada;
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    row-gap: 1em;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
}

.mute {
    opacity: 0.5;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
}

h1 {
    grid-area: header;
    text-align: center;
}

a[href] {
    color: white;
}

.content {
    grid-area: main;
    min-height: 0;
    overflow-y: auto;
    text-align: center;
}

.setup .content {
    text-align: left;
    padding: 1em;
}

.footer {
    grid-area: footer;
    min-height: 0;
    padding: 1em;
}

#popup:checked ~ .alert-message {
    display: none;
}

.alert-message {
    background: midnightblue;
    padding: 0.3em;
    display: inline-block;
    font-size: large;
}

.option {
    display: none;
}

.option.selected {
    display: block;
}

body.video .no-video {
    display: none;
}

.game-stream-thumbnail {
    width: auto;
    height: 13em;
    padding: 0;
    margin: 0;
    vertical-align: top;
    color: white;
}

.game-connect {
    display: inline-block;
    position: relative;
    padding: 0;
    border: none;
    margin: 0 2em 0.4em 0;
}

.game-connect:disabled {
    opacity: 0.5;
}

.game-connect .connect {
    border: none;
    padding: 0;
    min-height: 13em;
    background: black;
}

.game-connect .connect:enabled {
    cursor: pointer;
}

.game-connect .stop {
    color: white;
    position: absolute;
    right: 0;
    padding: 0.2em 0.5em;
    background: transparent;
    border: none;
    font-size: 110%;
}

.game-connect .stop:hover:enabled, .game-connect .stop:focus:enabled {
    background: #A1A1A180;
}

#launch-button {
    padding: 0.3em 1.5em;
    font-size: large;
    text-transform: uppercase;
}

#game-details > div {
    padding: 0.5em 1em;
}

#game-title {
    text-align: center;
}

#game-pc {
    margin: 0 1em;
    color: #cedada51;
    background: #1e1e1e;
    padding: 0.1em 0.3em;
}

#support-status {
    color: #ff0000;
    text-transform: uppercase;
    margin: 0 1em;
    background: black;
    padding: 0.1em 0.3em;
}

#game-status {
    cursor: progress;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

#game-status:empty {
    display: none;
}

#video-resume {
    position: absolute;
    left: calc(50% - 3em);
    top: calc(50% + 3em);
}

#launcher::after {
    content: "";
    display: table;
    clear: both;
}

#launcher > #game-list {
    display: block;
    float: left;
    width: 25%;
    max-width: 30em;

    overflow-y: auto;
    outline: none;
    border: 0;

    background: #1e1e1e;
    color: #cedada;
}

#launcher > #game-list option {
    padding: 0.25em 1em;
    font-weight: 600;
    font-size: 110%;
}

#launcher > #game-details {
    float: left;
    width: 75%;
}

.login-label {
    width: 6em;
    display: inline-block;
}

.video-container {
    background: #000;
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body.video .video-container {
    display: block;
}

.video-container > video {
    width: 100%;
    height: 100%;
}

.video-container > video::-webkit-media-controls {
    display: none;
}

#video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #1e1e1e80;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
}

.video-overlay #video-overlay {
    display: grid;
}

#video-bitrate {
    min-width: 20em;
}

.about {
    float: right;
    margin: 0;
    padding: 0;
}

.modal-dialog {
    display: none;
    background: #1e1e1e8e;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.modal-dialog .solid {
    background: black;
    padding: 1em 4em;
    margin: auto;
}

.modal-dialog h1 {
    padding-bottom: 0.8em;
    margin-top: 0;
}

.modal-dialog h2 {
    margin-bottom: 0.3em;
}

#login-dialog button {
    font-size: large;
    margin: 0 0.3em;
}

body.sync #loginButton {
    display: none;
}

body.sync-pending #loginButton {
    display: none;
}

#space {
    display: none;
}

body.sync-pending #space {
    display: inline-block;
}

body.sync #space {
    display: inline-block;
}

#steam-qr {
    display: inline-block;
}

#factorio {
    font-size: larger;
}

#factorio-login {
    display: none;
    margin-bottom: 1em;
}

#factorio-login-container {
    display: none;
}

#factorio-login-container.needs-login {
    display: block;
}

.no-nodes-message {
    margin-bottom: 1em;
    display: none;
}

.no-nodes .no-nodes-message {
    display: block;
}

button.action {
    text-transform: uppercase;
    padding: 0.5vh 1vh;
}

.no-nodes-message button.action {
    font-size: large;
    min-width: 10em;
    padding: 0.3em 1em;
    margin: 0.3em 1em;
}

.release .dev {
    display: none;
}