body {
    background: #1e1e1e;
    color: #cedada;
}

#launch-button {
    padding: 0.3em 1.5em;
    font-size: large;
    text-transform: uppercase;
}

#game-details > div {
    padding: 0.5em 1em;
}

#game-title {
    text-align: center;
}

#game-pc {
    margin: 0 1em;
    color: #cedada51;
}

#launcher::after {
    content: "";
    display: table;
    clear: both;
}

#launcher > #game-list {
    display: block;
    float: left;
    width: 25%;
    max-width: 30em;

    overflow-y: auto;
    outline: none;
    border: 0;

    background: #1e1e1e;
    color: #cedada;
}

#launcher > #game-list option {
    padding: 0.25em 1em;
    font-weight: 600;
    font-size: 110%;
}

#launcher > #game-details {
    float: left;
    width: 75%;
}

.video-container {
    background: #000;
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video-container>video {
    width: 100%;
    height: 100%;
}

.video-container>video::-webkit-media-controls {
    display: none;
}